<div class="posts">
  {{#each posts}}
  <article class="card mt-3">
    <div class="card-header flex-row justify-space-between bg-dark ">
      <h2>
        <a class="text-decoration-none text-white" href="/post/{{id}}">{{title}}</a>
      </h2>
      <div class="text-white">
        Posted by {{User.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>